@model SurfboardQuiver.Models.Surfboard

@{
    ViewBag.Title = "Surfboard Details";
    Layout = "~/Views/Shared/_SurfboardLayout.cshtml";
}

<div class="card">
    <div class=".card-body col-md-6">
        <h2>Details: @Model.DisplayText</h2>
        <h4>Board shape: @Model.Shape</h4>
        <h4>Fin: @Model.FinSetup</h4>
        <p>@Model.Description</p>
    </div>

    <div class="col-md-6">
        <img src="~/images/@Model.ImageFileName" alt="@Model.DisplayText" class ="img-responsive" />
    </div>
</div>