@model SurfboardQuiver.Models.Surfboard

@{
    ViewBag.Title = "Surfboard Details";
    Layout = "~/Views/Shared/_SurfboardLayout.cshtml";


}
<div class="row">
    <div class="col-md-4">
        <h2>Details: @ViewBag.DisplayText</h2>
        <h4>Board shape: @ViewBag.Style</h4>
        <h4>Fin: @ViewBag.Fins</h4>
        <p>@ViewBag.Notes</p>
    </div>
    <div class="col-md-4">
        <img src="@ViewBag.Image" />
    </div>
</div>