@model List<SurfboardQuiver.Models.Surfboard>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SurfboardLayout.cshtml";
}

<h2>The Board Room</h2>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Message"]
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Surfboard Summary</th>
        <th>Shape</th>
        <th>Fin Setup</th>
        <th class="col-lg-4">Description</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.DisplayText
                @*@Html.DisplayFor(modelItem => item.DisplayText)*@
            </td>
            <td>
                @item.Shape
                @*@Html.DisplayFor(modelItem => item.Shape)*@
            </td>
            <td>
                @item.FinSetup
                @*@Html.DisplayFor(modelItem => item.FinSetup)*@
            </td>
            <td class="col-lg-4">
                @item.Description
                @*@Html.DisplayFor(modelItem => item.Description)*@
            </td>

            @*<td>
                     TODO: display a small thumbnail of the surfboard image, here. Include alt / text.
                    @Html.DisplayFor(modelItem => item.ImageFileName)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Info", "Details", new { id = item.Id }) |
                @Html.ActionLink("Erase", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
